input/Mendota_1980_2019_box_5_CT.csv
MCL/01_data_processing/all_data_lake_modeling_in_time.csv
MCL/02_training/all_data_lake_modeling_in_time.csv
MCL/03_finetuning/all_data_lake_modeling_in_time.csv
MCL/01_data_processing/all_data_lake_modeling_in_time-r.csv
output/NTL_observed_temp.csv
output_integralEnergyModel/NTL_observed_temp.csv
input/observed_df_lter_hourly_wide.csv

